// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.dark{
    background-color: black;
}
.inicio-sesion{
    background-color: transparent;
    color:#fff;
}
.ingresar{
    background-color: rgba(255,255,255,0.2);
}
.centrar{
    text-align: center;
}
.menu-side{
    background-color: black;
    color:#fff;
}
.full-modal {
    .modal-wrapper {
      position: absolute;
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 100% !important;
      height: 100% !important;
    } 
  }

.scroll{
    overflow: auto;
    white-space: nowrap;
}

.userlist-admin{
    display: inline-block !important;
    text-align: center;
    background: #fff;
    margin: 0 10px;
    padding: 5px;
    img{
        max-width: 30px;
    }
}
.btn-nuevo{
    text-align: center;
}
.btn-superior{
    text-align: center;
}