<!--
  Generated template for the ConfigAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

    <ion-navbar color="primary">
      <ion-title>Configuraciones</ion-title>
      
    </ion-navbar>
    
  
  </ion-header>



<ion-content padding>

  <ion-row>
    <ion-col class="centrar">
      <!--<button ion-button clear (click)="cambiarTab('entrenamientos')">
        Entrenamientos
      </button> -->
      <button ion-button clear (click)="cambiarTab('notificaciones')">
          Notificaciones
        </button>
        <button ion-button clear (click)="cambiarTab('suscripcion')">
            Suscripción
          </button>
    </ion-col>
  </ion-row>

  <div *ngIf=" seccion == 'suscripcion' ">
      <ion-row>
          <ion-col col-4>
      
              <ion-card>
                  <ion-card-content>
                   <h6>
                      Suscripción: 
                   </h6>
                  </ion-card-content>
                </ion-card>
      
              <ion-card>
                <ion-card-content>
                  <h6>
                      Próxima Factura: 
                  </h6>
                </ion-card-content>
              </ion-card>
      
              <ion-card>
                <ion-card-content>
                  <h6>
                    Modo de Pago
                  </h6> 
      
                  <button ion-button>
                    Paypal
                  </button>
                  <button ion-button>
                      Tarjeta
                    </button>
      
                </ion-card-content>
              </ion-card>
      
              <ion-card>
                  <ion-card-content>
                   <h6>
                      Cancelar suscripción
                   </h6>
                  </ion-card-content>
                </ion-card>
      
      
          </ion-col>
          
    
    <ion-col col-8>
       <ion-row>
         <ion-col>
            <ion-card>
                <ion-card-content class="centrar">
    
                  <h1>
                    -€
                  </h1>
    
                 <p>
                   1€ por cliente activo
                 </p>
                 <p>
                   Cuenta de Entrenador Gratis
                 </p>
                </ion-card-content>
              </ion-card>
         </ion-col>

         <ion-col>
            <ion-card>
                <ion-card-content class="centrar">
    
                  <h1>
                    19€
                  </h1>
    
                 <p>
                   30 Clientes Activos
                 </p>
                 <p>
                   Cuenta de Entrenador Gratis
                 </p>
                </ion-card-content>
              </ion-card>
         </ion-col>

         <ion-col>
            <ion-card>
                <ion-card-content class="centrar">
    
                  <h1>
                    39€
                  </h1>
    
                 <p>
                   Clientes Ilimitados
                 </p>
                 <p>
                   Cuenta de Entrenador Gratis
                 </p>
                </ion-card-content>
              </ion-card>
         </ion-col>
      
  </ion-row>
          </ion-col>
        </ion-row>
  </div>

  <div *ngIf=" seccion == 'notificaciones' ">

    <ion-row>
      <ion-col>
          <ion-card>
              <ion-card-content class="centrar">
  
                  <ion-item>
                      <ion-label>Avisos sobre Clientes</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
              </ion-card-content>
            </ion-card>
      </ion-col>

      <ion-col>
          <ion-card>
              <ion-card-content class="centrar">
  
                  <ion-item>
                      <ion-label>Avisos de Sistema</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content class="centrar">
    
                    <ion-item>
                        <ion-label>Avisos sobre Entrenamientos</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                </ion-card-content>
              </ion-card>
        </ion-col>
  
        <ion-col>
            <ion-card>
                <ion-card-content class="centrar">
    
                    <ion-item>
                        <ion-label>Otros Avisos</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    
  </div>

</ion-content>
